h2{color: rgb(0, 13, 0);
    background-color: rgba(255, 0, 0, 0.749);
    width: 340px;
    border-left: 25px solid #ffffff;
    transition: linear;
}
h3{ width: 150px;
    background-color: bisque;
    border-left: 25px ;
}
h3{ border-left: 25px solid white;
    background-color: rgb(254, 160, 45);
}
